# latex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

*.RData
papers/
.Rhistory
/Manuscript/Reference/
/Manuscript/CSDA
/Manuscript/Statistics\ and\ computing
/Manuscript/Bayes_Subset_STAT_Jin_Goh.pdf
/Manuscript/Jin
